@import "./base.less";
.form-input{
  height: 40px;
  border-bottom: 1px solid #eee;
  background: none;
  border: 0;
  outline: none;
  border-bottom: @border;
  font-size: 1.1em;
  width: 100%;
}

.btn-block{
  display: block;
  width: 100%;
}

.btn{
  padding: 10px;
  background: none;
  border: @border;
}
